%ul.list-unstyled.navbar-sub-nav
  = nav_link(path: ['root#index', 'projects#trending', 'projects#starred', 'dashboard/projects#index'], html_options: { id: 'nav-projects-dropdown', class: "home dropdown" }) do
    %a{ href: '#', title: 'Projects', data: { toggle: 'dropdown' } }
      Projects
      = icon("chevron-down", class: "dropdown-chevron")
    .dropdown-menu.projects-dropdown-menu
      = render "layouts/nav/projects_dropdown/show"

  = nav_link(controller: ['dashboard/groups', 'explore/groups']) do
    = link_to dashboard_groups_path, class: 'dashboard-shortcuts-groups', title: 'Groups' do
      Groups

  = nav_link(path: 'dashboard#activity', html_options: { class: "hidden-xs hidden-sm hidden-md" }) do
    = link_to activity_dashboard_path, class: 'dashboard-shortcuts-activity', title: 'Activity' do
      Activity

  %li.dropdown
    %a{ href: "#", data: { toggle: "dropdown" } }
      More
      = icon("chevron-down", class: "dropdown-chevron")
    .dropdown-menu
      %ul
        = nav_link(path: 'dashboard#activity', html_options: { class: "visible-xs visible-sm visible-md" }) do
          = link_to activity_dashboard_path, title: 'Activity' do
            Activity

        = nav_link(controller: 'dashboard/milestones') do
          = link_to dashboard_milestones_path, class: 'dashboard-shortcuts-milestones', title: 'Milestones' do
            Milestones

        = nav_link(controller: 'dashboard/snippets') do
          = link_to dashboard_snippets_path, class: 'dashboard-shortcuts-snippets', title: 'Snippets' do
            Snippets
        %li.divider
        %li
          = link_to "Help", help_path, title: 'About GitLab CE'

  -# Shortcut to Dashboard > Projects
  %li.hidden
    = link_to dashboard_projects_path, title: 'Projects', class: 'dashboard-shortcuts-projects' do
      Projects
