.scrolling-tabs-container
  .fade-left
    = icon('angle-left')
  .fade-right
    = icon('angle-right')
  %ul.nav-links.scrolling-tabs
    = nav_link(path: 'profiles#show', html_options: {class: 'home'}) do
      = link_to profile_path, title: 'Profile Settings' do
        %span
          Profile
    = nav_link(controller: [:accounts, :two_factor_auths]) do
      = link_to profile_account_path, title: 'Account' do
        %span
          Account
    - if current_application_settings.user_oauth_applications?
      = nav_link(controller: 'oauth/applications') do
        = link_to applications_profile_path, title: 'Applications' do
          %span
            Applications
    = nav_link(controller: :chat_names) do
      = link_to profile_chat_names_path, title: 'Chat' do
        %span
          Chat
    = nav_link(controller: :personal_access_tokens) do
      = link_to profile_personal_access_tokens_path, title: 'Access Tokens' do
        %span
          Access Tokens
    = nav_link(controller: :emails) do
      = link_to profile_emails_path, title: 'Emails' do
        %span
          Emails
    - unless current_user.ldap_user?
      = nav_link(controller: :passwords) do
        = link_to edit_profile_password_path, title: 'Password' do
          %span
            Password
    = nav_link(controller: :notifications) do
      = link_to profile_notifications_path, title: 'Notifications' do
        %span
          Notifications

    = nav_link(controller: :keys) do
      = link_to profile_keys_path, title: 'SSH Keys' do
        %span
          SSH Keys
    = nav_link(controller: :gpg_keys) do
      = link_to profile_gpg_keys_path, title: 'GPG Keys' do
        %span
          GPG Keys
    = nav_link(controller: :preferences) do
      = link_to profile_preferences_path, title: 'Preferences' do
        %span
          Preferences
    = nav_link(path: 'profiles#audit_log') do
      = link_to audit_log_profile_path, title: 'Authentication log' do
        %span
          Authentication log
