- page_title       @project.name_with_namespace
- page_description @project.description    unless page_description
- header_title     project_title(@project) unless header_title
- if show_new_nav?
  - nav            "new_project_sidebar"
  - @new_sidebar    = true
- else
  - nav            "project"

- content_for :project_javascripts do
  - project = @target_project || @project
  - if current_user
    -# haml-lint:disable InlineJavaScript
    :javascript
      window.uploads_path = "#{project_uploads_path(project)}";

= render template: "layouts/application"
